:root {
    --bm-dark-color: #212121;
    --bm-light-color: #dddbdb;
    --bm-primary-color: #001E43;
    --bm-secondary-color: #ff993b;
}


main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
    min-height: 90vh;
}

/*-----NAVBAR STYLES---*/
.navbarBG {
    background-color: var(--bm-dark-color);
}


/*----CHECKBOX COLORS----*/

.checklisticon{
    color:var(--bm-secondary-color);
}

/*----ICON COLORS----*/

.jsicon{
    color: #e2d304;
}

.bsicon{
    color: #800080;
}

.htmlicon{
    color: #ff4500;
}

.cssicon{
    color: #0b52d6
}

/*----Button Styles override Bootstrap Styles----*/
.btn-outline-primary{
    color: var(--bm-dark-color);
    border-color: var(--bm-secondary-color) !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus{
    border-color: var(--bm-primary-color) !important;
    background-color: var(--bm-secondary-color);
 }


.btn-primary{
    color: white !important;
    background-color: var(--bm-secondary-color) !important;
    border-color: var(--bm-secondary-color);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus{
    filter: brightness(1.1) !important;
    border-color: var(--bm-secondary-color);
}



/*----FOOTER STYLES----*/
.footer{
    background-color: var(--bm-dark-color);
    padding-right: 1rem;
    color: var(--bm-light-color);

}
.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer .social>a{
    color: var(--bm-light-color);
    opacity: .75;

}

footer .social>a:hover{
    color:var(--bm-secondary-color);
    opacity: .90;
}
